body {
  color: white;
}
.container {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-panel {
  background-color: rgba(0, 0, 0, 0.115);
  height: 100vh;
  width: 50%;
  /* text-align: center; */
}
.flex-input {
  flex-direction: row;
  margin-bottom: 10px;
}
label {
  display: block;
}
input[type="text"],
[type="password"] {
  padding: 10px;
  color: rgb(83, 25, 137);
}
