/*Contact form*/

.container-form {
  margin: auto;
  max-width: 700px;
  overflow: auto;
  padding: 10px 20px;
  background-color: #b496c9;
  border-radius: 5px;
  margin-top: 50px;
}

#post-form .form-group {
  margin-bottom: 20px;
}

#post-form label {
  display: block; /*empuja a la siguiente linea */
  margin-bottom: 5px;
}

#post-form input,
#post-form textarea,
#post-form select {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#post-form textarea {
  height: 200px;
}

#post-form input:focus,
#post-form textarea:focus {
  outline: none;
  border-color: red;
}

#post-form input[type="submit"] {
  color: #fff;
  background-color: #9e30e9;
  padding: 13px;
  margin: 24px 0px;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 6px 5px 9px #2b2b2bb5;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: block;
}
