/*Contact form*/

.container-form {
  margin: auto;
  max-width: 700px;
  overflow: auto;
  padding: 52px 66px;
  background-color: #35333375;
  /* border-radius: 5px; */
  /* margin-top: 20px; */
  color: white;
}

#post-form .form-group {
  margin-bottom: 20px;
}

#post-form label {
  display: block; /*empuja a la siguiente linea */
  margin-bottom: 5px;
}

#post-form input,
#post-form textarea,
#post-form select {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#post-form textarea {
  height: 200px;
}

#post-form input:focus,
#post-form textarea:focus {
  outline: none;
  border-color: red;
}

#post-form input[type="submit"] {
  color: #fff;
  background-color: #202020;
  padding: 13px;
  margin: 24px 0px;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 9px #2b2b2b4a;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  display: block;
}

#post-form {
  background: -webkit-linear-gradient(130deg, #b06ab3, #61a9f3);
  background: linear-gradient(130deg, #b06ab3, #61a9f3);
}
