/* Validation messages, etc */

.msg {
  font-style: italic;
}

.error-message {
  color: red;
}
.info-message {
  color: #fff;
}
.success-message {
  color: rgb(26, 172, 70);
}
.danger-message {
  color: rgb(255, 197, 6);
}
