* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #18191a;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  background: #242526;
  width: 100vw;
  padding: 0 20px 0 20px;
  height: 60px;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.4);
}

.navbar_center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.navbar_right {
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.navbar_logo {
  width: 37px;
  margin-right: 5px;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 13px 10px;
  color: #a8abaf;
  min-width: 20px;
  text-align: center;
  margin-right: 20px;
}

.input-field {
  width: 56%;
  background: #3a3b3c;
  border: none;
  color: #a8abaf;
}

.input-field:focus {
  outline: none;
}

.navbar_center a {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.navbar_center a:hover {
  background: #3a3b3c;
  border-radius: 10px;
  height: 55px;
  border: none;
}

.active_icon {
  border-bottom: 3px solid #b64ffb;
}

.active_icon i {
  color: #b64ffb; /*!important*/
}

.navbar a {
  text-decoration: none;
  color: #b8bbbf;
  font-size: 23px;
}

.navbar_profile {
  height: 40px;
  margin-right: 20px;
}

.navbar_profile:hover {
  background: #3a3b3c;
  border-radius: 15px;
  padding: 0 5px;
}

.navbar_profile img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navbar_profile span {
  color: #e7e9ed;
  font-size: 15px;
  font-weight: 500;
}

.navbar_links a {
  font-size: 16px;
}
.navbar_links i {
  margin-right: 5px;
  background: #404041;
  padding: 12px;
  border-radius: 100%;
  color: #e7e9ed;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.navbar_links i:hover {
  background: #4e4f50;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_left,
.content_right {
  background-color: #262626;
}
.content_left,
.content_right {
  color: #e7e9ed;
}

.content_center {
  width: 50%;
  text-align: center;
  height: 100vh;
}

.content_left ul,
.content_right ul {
  margin: 0;
  list-style: none;
  padding: 25px 0;
}

.content_left ul li,
.content_right ul li {
  padding: 0 15px;
  margin-bottom: 21px;
}

.content_left ul li a,
.content_right ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e7e9ed;
  font-weight: 500;
  font-size: 15px;
}

.content_left ul li i,
.content_right ul li i {
  background: #2b2b2b; /*background: #404041;*/
  padding: 10px;
  border-radius: 100%;
  color: #b64ffb; /* color: #e7e9ed; */
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  margin-right: 10px;
}

.see_more {
  color: #e7e9ed;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.content_left ul li a img {
  width: 37px;
  margin-right: 10px;
}

/* Center content */

.stories {
  padding: 25px 0;
}

.stories img {
  border-radius: 10px;
  margin-right: 10px;
}

.media_container {
  padding: 5px 92px;
}

.share {
  background-color: #242526;
  border-radius: 10px;
  padding: 15px;
}

.share_upside {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.share_upside img {
  margin-right: 7px;
  width: 38px;
}

.share_upside input {
  flex: 1;
  padding: 12px 0 12px 12px;
  background: #3a3b3c;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  color: #a8abaf;
}

.share_upside input:focus {
  outline: none;
}

.media_container hr {
  border-style: solid;
  border-color: rga(255, 255, 255, 0.08);
  border-width: 1px;
}

.share_downside {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  height: 40px;
}

.share_downside_link {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share_downside_link:hover {
  background: #3a3b3c;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_downside_link i {
  font-size: 25px;
  margin-right: 5px;
}

.share_downside_link span {
  color: #b7babe;
  font-size: 15px;
  font-weight: 500;
}

.live-video-icon {
  color: #f23e5c;
}

.photo-video-icon {
  color: #58c472;
}

.feeling-icon {
  color: #f8c03e;
}

/* News */

.news_feed {
  background-color: #242526;
  border-radius: 10px;
  margin: 2em 13em;
}

.news_feed_title {
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.news_feed_title img {
  width: 40px;
  margin-right: 7px;
}

.news_feed_title_content {
  text-align: left;
}

.news_feed_title_content p {
  color: #e4e6eb;
  font-weight: 500;
}

.news_feed_title_content span {
  color: #b7babe;
  font-size: 12px;
}

.news_feed_description {
  min-height: 400px;
}

.news_feed_subtitle {
  padding: 0 15px;
  color: #e4e6eb;
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
}

.news_feed_description_title {
  margin-top: -5px;
  padding: 10px 15px;
  background-color: #3a3b3c;
  text-align: left;
}

.news_feed_description_title span {
  color: #b7babe;
  font-size: 13px;
}

.news_feed_description_title p {
  font-weight: 500;
  color: #e4e6eb;
  font-size: 15px;
}

/* Post date area */
.post-date-area {
  text-align: right;
  padding: 10px 15px;
  color: #989898;
  font-size: smaller;
}
/* Likes */
.likes_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.emojis {
  display: flex;
  align-items: center;
}

.emojis span {
  color: #b7babe;
  margin-left: 10px;
}

.comment_counts {
  color: #b7babe;
}

.divider {
  padding: 0 15px 0 15px;
}

.likes_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  height: 35px;
}
.likes_buttons div {
  cursor: pointer;
}

.likes_buttons_links {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b4b7bb;
  font-weight: 500;
}

.likes_buttons_links:hover {
  background: #3a3b3c;
  border-radius: 5px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes_buttons_links i {
  font-size: 18px;
  margin-right: 10px;
}

/* Small devices */
@media (min-width: 577px) {
  .content_right ul,
  .content_left ul {
    position: fixed;
  }
}

@media (min-width: 575px) and (max-width: 1230px) {
  .news_feed {
    margin: 1em 1em;
  }
}

@media (max-width: 576px) {
  .content_right ul,
  .content_left ul {
    position: unset;
  }
  .news_feed {
    margin: 1em 1em;
  }
}
